	<h1>My Map</h1>
	<div id="post_content">
	</div>
	<div id="map-container">
		<div id="map"></div>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_KEY']%>">
	    </script>
	    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
	    </script>
	</div>

	<%= form_for @post, html: {id: 'default_form'} do |f| %>
		<%= f.label :content, "Regular Form" %>
		<%= f.text_area :content %>
		<%= f.hidden_field :provider, value: 'dropit' %>
		<%= f.hidden_field :latitude %>
		<%= f.hidden_field :longitude %>
		<%= f.submit "Submit" %>
	<% end  %>

	<% if @user_facebook %>
	<%= form_for @post, html: {id: 'facebook_form'} do |f| %>
		<%= f.label :content, "Facebook Form" %>
		<%= f.text_area :content %>
		<%= f.hidden_field :provider, value: 'facebook' %>
		<%= f.hidden_field :latitude %>
		<%= f.hidden_field :longitude %>
		<%= f.submit "Submit" %>
		<% end  %>
	<% else %>
		<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %><br />	
	<% end  %>

	<% if @user_twitter %>
	<%= form_for @post, html: {id: 'twitter_form'} do |f| %>
		<%= f.label :content, "Twitter Form" %>
		<%= f.text_area :content %>
		<%= f.hidden_field :provider, value: 'twitter' %>
		<%= f.hidden_field :latitude %>
		<%= f.hidden_field :longitude %>
		<%= f.submit "Submit" %>
		<% end  %>
	<% else %>
		<%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %><br />
	<% end  %>

