<% if @user.latitude && @user.longitude %>
	<h1>My Map</h1>
	<% @nearby_posts.each do |p| %>
		<br>
		<%= p.content %>
		Written by: <%= p.user.fullname %> at <%= p.created_at %>
		<br>
	<% end %>
	<div id="map-container">
		<div id="map"></div>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl1Pfdx4gdLL14MUQpR1L6eMJBiqtNSas&callback=getLocation">
	    </script>
	</div>

	<%= form_for @post do |f| %>
		<%= f.text_area :content %>
		<%= f.hidden_field :latitude %>
		<%= f.hidden_field :longitude %>
		<%= f.submit "Submit" %>
	<% end  %>
<% else %>
	<br>
	Please wait while we see what's going on around you.
<% end %>
